/* font-family: 'Montserrat', sans-serif;
font-family: 'Overpass', sans-serif;
 */
* {
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;
background: transparent;
font-family: inherit;
}
a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}

/* --- end of css reset --- */

body {
    background-color: #f8f7f3;
}

#root {
    width: 100vw;
    height: auto;
}

header {
    width: 100%;
    height: 40px;

    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 40px;
    padding-left: 20px;

    background-color: #1a24fb;
    color: #f8f7f3;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 12px;
}

#main-container {
    max-width: 1280px;
    height: auto;
    margin: 0 auto auto;
    padding: 80px;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 100px 20px;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    
    min-height: 450px;
    max-width: 380px;
    color: #1a24fb;
    flex-basis: 100%;
}

.number {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transform: translate(18px, -30px);
}

.card-text{
    position: relative;
    width: 100%;
    min-height: 420px;
    padding: 40px;

    border: 1px solid #1a24fb;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.show {
    width: 100%;
    height: 18px;
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 480px) {
    .main-container {
        width: 480px;
    }
}